
  body {
    width: 600px;
    font-family: Arial, sans-serif;
    font-size: largger;
    padding: 10px 10px 10px 30px;
  }
  
  #loading_sign{
  }
  
  
  #tasks-panel {
    margin-top: 10px;  
  }
  #tasks {
    padding: 0;
    list-style-type: none;
  }
  #task-title {
    width: 300px;  
  }
  
  .simple-box{  
    border-style:dotted;
    border-width:1px;
    padding:5px 5px 5px 5px
  } 
  
  #names-box{  
    float:left;
    width: 50%;
  } 

  #attendence-box{  
    width: 100%;
  } 

  .clear {
    clear: both;
  }

  .total-box{  
    float:left;
    width: 50%;
  } 

  .total-section{  
  } 

  .total-section-title{  
    text-decoration:underline;
    display:block;
  } 
  
  input[type='checkbox']  {
    width:35px; 
    height:35px;
  }

  input[type='submit']    {
    height:35px;
    font-size: large;
  }
